[Desktop Entry]
Comment=OpenDungeonsPlus, a better fork of Opendungeons
Categories=Game;StrategyGame;
Exec=opendungeons-plus
Icon=io.github.tomluchowski.OpenDungeonsPlus.svg
Name=OpenDungeonsPlus
StartupNotify=true
Terminal=false
Type=Application
Keywords=Dungeons;Strategy;Sim;Kepper;Dungeon;Manager;Creatures;
